<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QUANLYQUANNET.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="QUANLYQUANNET.Properties.Settings.QLQCCConnectionString"
            connectionString=" " providerName="System.Data.SqlClient" />
        <add name="QUANLYQUANNET.Properties.Settings.QLQNConnectionString"
            connectionString="Data Source=HOANGSON\SQLEXPRESS;Initial Catalog=QLQN;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <QUANLYQUANNET.Properties.Settings>
            <setting name="RememberUsername" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberName" serializeAs="String">
                <value />
            </setting>
            <setting name="MaHD" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="Landau" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Str" serializeAs="String">
                <value>Data Source=HOANGSON\SQLEXPRESS;Initial Catalog=QLQN;Integrated Security=True;MultipleActiveResultSets=true</value>
            </setting>
        </QUANLYQUANNET.Properties.Settings>
    </userSettings>
</configuration>